@font-face {
    font-family: 'IranSansWeb';
    src: url('fonts/iransansweb.ttf');
}

.owl-carousel,
.bx-wrapper {
    direction: ltr;
}

    .owl-carousel .owl-item {
        direction: rtl;
    }
.navbar-nav .nav-link {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}